<template name="header">
    <div class="center aligned {{isActive}} header-wrapper">
        <h1 style="padding-top:50px; padding-bottom:25px;" class="huge center aligned main ui header">
            <div><img style="height:130px; padding-bottom:15px;" src="instagram.png"/></div>
            {{constant 'name'}}
            <!-- <div class="sub header">
                by <a class="unstyled link" href="http://matteodem.github.io/meteor-boilerplate">{{constant 'admin_email'}}</a>
            </div> -->
        </h1>
        <!-- <button style="margin:0px;" class="basic ui resize icon button"><span style="color:red">Sign In</span><i class="{{iconClass}} icon"></i></button> -->
        <!-- <button id="to_page_2">To Page 2...</button> -->

        {{#if showLogin}}
        <div class="login-wrapper {{animateClass}} animated">
            {{#if currentUser}}
            <div class="actions-wrapper">
                {{#if currentUser.username}}
                <div class="hello">Hi {{currentUser.username}}!</div>
                {{/if}}
                <div id="enter" class="ui fluid blue button">
                    <i class="desktop enter icon"></i>
                    Enter Social Media
                </div>
                <div class="ui fluid purple log-out button">
                    <i class="sign out icon"></i>
                    Log out
                </div>
            </div>
            {{else}}
            {{> atForm }}
            {{/if}}
        </div>
        {{else}}
        <button class="ui large primary button login">Log In</button>
        {{/if}}
    </div>
</template>

