<template name="enter">
<style type="text/css">
.background-image{
    background-image: url('/images/background/background1.jpg');
    height: 100%;
    width: 100%;
    background-position: 100% 100%;
}
</style>
<body class="align">

    <div class="center background-image aligned">
        <h1 style="padding-top:50px; padding-bottom:25px;" class="huge center aligned main ui header">
            <div><img style="height:130px; width:130px; padding-bottom:15px;" src="instagram.png"/></div>
        </h1>

    Instagram
  {{> login_social}}
  Facebook
  {{> login_social}}
  Twitter
  {{> login_social}}

</div>
</body>
</template>

