<template name="enter">
<style type="text/css">
.background-image{
    background-image: url('/images/background/background1.jpg');
    height: 100%;
    width: 100%;
    background-position: 100% 100%;
}
</style>
<body class="align">

<div class="center background-image aligned">
    <h1 style="padding-top:50px; padding-bottom:25px; color:#f6eff4; font-size:3em;" class="huge center aligned main ui header">
        Enter Social Media Information
    </h1>

    

    <div><img style="height:100px; width:100px; padding-bottom:0px;" src="instagram.png"/></div>
    {{> login_social}}

    <div><img style="height:100px; width:100px; padding-bottom:0px;" src="facebook.png"/></div>
    {{> login_social}}

    <div><img style="height:100px; width:100px; padding-bottom:0px;" src="twitter.png"/></div>
    {{> login_social}}

    <button class="ui big teal primary button" id="toAnalysisPage">Analyze</button>

</div>
</body>
</template>

